# Main settings
SECRET_KEY=''
DEBUG=False
USE_SQLITE=False
SITE_DOMAIN='example.com'


# Values: default / vue
TEMPLATE_LAYOUT='vue'


# Docker volumes
DOCKER_LOG_DIR=.docker/logs
DOCKER_MEDIA_DIR=.docker/media
DOCKER_STATIC_DIR=.docker/static
DOCKER_DB_DIR=.docker/db


# Docker database
DOCKER_DB_NAME=db_name
DOCKER_DB_USER=db_user
DOCKER_DB_PASSWORD=db_password


# Database
DATABASE_URL="pgsql://db_user:db_password@db:5432/db_name"

# Email
EMAIL_URL="smtp+ssl://user:password@localhost:25"
EMAIL_NAME='no-reply@localhost'
EMAIL_MANAGER='manager@localhost'
