{% extends settings.TEMPLATE_LAYOUT %}
{% load i18n static utils widget_tweaks  %}

{% block content %}
  {% comment %} <div class="card-body">
    <form method="POST">
      {% csrf_token %}
      {{ form }}
      <button type="submit" class="btn btn-success pull-right">Обновить профиль</button>
      <a class="btn btn-second" href="../">Назад</a>
    </form>
  </div> {% endcomment %}

  <div class="content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title">Добавление углубленного медицинского обследования</h4>
            <p class="card-category">Углубленное медицинское обследование (УМО) - является ежегодным обязательным видом обследования для спортсменов, проводится в соответствии с программами, утвержденными Министерством здравоохранения и социального развития.</p>
          </div>
          <div class="card-body">
            <form method="POST">
              {% csrf_token %}
                <div class="row">
                  <div class="col mt-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label">{{form.date.label}}</label>
                      {% render_field form.date class+="form-control" %}
                    </div>
                  </div>
                  <div class="col mt-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label">{{form.stage.label}}</label>
                      {% render_field form.stage class+="form-control" %}
                    </div>
                  </div>
                  <div class="col mt-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label">{{form.weight.label}}</label>
                      {% render_field form.weight class+="form-control" %}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col mt-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label">{{form.length.label}}</label>
                      {% render_field form.length class+="form-control" %}
                    </div>
                  </div>
                  <div class="col mt-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label">{{form.spit_leg_length.label}}</label>
                      {% render_field form.spit_leg_length class+="form-control" %}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col mt-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label">{{form.foot_length.label}}</label>
                      {% render_field form.foot_length class+="form-control" %}
                    </div>
                  </div>
                  <div class="col mt-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label">{{form.torso_length_7.label}}</label>
                      {% render_field form.torso_length_7 class+="form-control" %}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mt-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label">{{form.arm_span.label}}</label>
                      {% render_field form.arm_span class+="form-control" %}
                    </div>
                  </div>
                  <div class="col-md-6 mt-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label">{{form.chest_girth_inspiration.label}}</label>
                      {% render_field form.chest_girth_inspiration class+="form-control" %}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mt-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label">{{form.exhaling_chest.label}}</label>
                      {% render_field form.exhaling_chest class+="form-control" %}
                    </div>
                  </div>
                  <div class="col-md-6 mt-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label">{{form.excursion_difference.label}}</label>
                      {% render_field form.excursion_difference class+="form-control" %}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mt-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label">{{form.spirometry.label}}</label>
                      {% render_field form.spirometry class+="form-control" %}
                    </div>
                  </div>
                  <div class="col-md-6 mt-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label">{{form.breath_hold_stange.label}}</label>
                      {% render_field form.breath_hold_stange class+="form-control" %}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mt-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label">{{form.dynamometry.label}}</label>
                      {% render_field form.dynamometry class+="form-control" %}
                    </div>
                  </div>
                  <div class="col-md-6 mt-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label">{{form.dynamometry_right.label}}</label>
                      {% render_field form.dynamometry_right class+="form-control" %}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mt-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label">{{form.dynamometry_left.label}}</label>
                      {% render_field form.dynamometry_left class+="form-control" %}
                    </div>
                  </div>
                  <div class="col-md-6 mt-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label">{{form.fat_mass.label}}</label>
                      {% render_field form.fat_mass class+="form-control" %}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mt-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label">{{form.muscle_mass.label}}</label>
                      {% render_field form.muscle_mass class+="form-control" %}
                    </div>
                  </div>
                  <div class="col-md-6 mt-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label">{{form.open_eyes.label}}</label>
                      {% render_field form.open_eyes class+="form-control" %}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mt-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label">{{form.close_eyes.label}}</label>
                      {% render_field form.close_eyes class+="form-control" %}
                    </div>
                  </div>
                  <div class="col-md-6 mt-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label">{{form.target.label}}</label>
                      {% render_field form.target class+="form-control" %}
                    </div>
                  </div>
                  <div class="col-md-6 mt-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label">{{form.pwc_kg.label}}</label>
                      {% render_field form.pwc_kg class+="form-control" %}
                    </div>
                  </div>
                  <div class="col-md-6 mt-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label">{{form.pwc.label}}</label>
                      {% render_field form.pwc class+="form-control" %}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mt-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label">{{form.pressure_up.label}}</label>
                      {% render_field form.pressure_up class+="form-control" %}
                    </div>
                  </div>
                  <div class="col-md-6 mt-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label">{{form.pressure_down.label}}</label>
                      {% render_field form.pressure_down class+="form-control" %}
                    </div>
                  </div>
                  <div class="col-md-6 mt-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label">{{form.oxygen.label}}</label>
                      {% render_field form.oxygen class+="form-control" %}
                    </div>
                  </div>
                  <div class="col-md-6 mt-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label">{{form.ecg.label}}</label>
                      {% render_field form.ecg class+="form-control" %}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mt-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label">{{form.ecg_load.label}}</label>
                      {% render_field form.ecg_load class+="form-control" %}
                    </div>
                  </div>
                  <div class="col-md-6 mt-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label">{{form.heart.label}}</label>
                      {% render_field form.heart class+="form-control" %}
                    </div>
                  </div>
                  <div class="col-md-6 mt-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label">{{form.plantometry.label}}</label>
                      {% render_field form.plantometry class+="form-control" %}
                    </div>
                  </div>
                  <div class="col-md-6 mt-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label">{{form.cns_functional.label}}</label>
                      {% render_field form.cns_functional class+="form-control" %}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mt-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label">{{form.cns_level.label}}</label>
                      {% render_field form.cns_level class+="form-control" %}
                    </div>
                  </div>
                  <div class="col-md-6 mt-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label">{{form.grv.label}}</label>
                      {% render_field form.grv class+="form-control" %}
                    </div>
                  </div>
                  <div class="col-md-6 mt-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label">{{form.golden_ratio.label}}</label>
                      {% render_field form.golden_ratio class+="form-control" %}
                    </div>
                  </div>
                  <div class="col-md-6 mt-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label">{{form.voltage_index.label}}</label>
                      {% render_field form.voltage_index class+="form-control" %}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mt-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label">{{form.spectral_analysis.label}}</label>
                      {% render_field form.spectral_analysis class+="form-control" %}
                    </div>
                  </div>
                  <div class="col-md-6 mt-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label">{{form.integral_indicator.label}}</label>
                      {% render_field form.integral_indicator class+="form-control" %}
                    </div>
                  </div>

                </div>
                <div class="row">
                  <div class="col-md-6 mt-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label">{{form.adaptive_capabilities.label}}</label>
                      {% render_field form.adaptive_capabilities class+="form-control" %}
                    </div>
                  </div>
                  <div class="col-md-6 mt-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label">{{form.functional_reserves.label}}</label>
                      {% render_field form.functional_reserves class+="form-control" %}
                    </div>
                  </div>
                </div>
              <button type="submit" class="btn btn-success pull-right">Сохранить</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block footer %}
<div class="container-fluid">
</div>
{% endblock footer %}

{% block scripts %}
  <script>
    $('tr[data-href]').on("click", function() {
      document.location = $(this).data('href');
    });
  </script>
{% endblock scripts %}
