{% extends settings.TEMPLATE_LAYOUT %}
{% load i18n static utils %}


{% block content %}
<div class="content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">{{ object }}</h4>
            <p class="card-category"><a href="{% url 'registry:sportsman-update' object.pk %}">Редактировать</a></p>
          </div>
          <div class="card-body">

            <p class="mb-3">
              <span class="font-weight-bold">Дата рождения:</span> {{ object.date_of_birth }}
            </p>
            <p class="mb-3">
              <span class="font-weight-bold">Пол:</span> {{ object.get_gender_display }}
            </p>
            <p class="mb-3">
              <span class="font-weight-bold">Контактный номер:</span> {{ object.phone_number }}
            </p>
            <p class="mb-3">
              <span class="font-weight-bold">Место жительства:</span> {{ object.location }}
            </p>
            <p class="mb-3">
              <span class="font-weight-bold">Умение плавать:</span> {{ object.get_is_swimming_display }}
            </p>
            <p class="mb-3">
              <span class="font-weight-bold">Спортивное учреждение:</span> {{ object.sports_facility }}
            </p>
            <p class="mb-3">
              <span class="font-weight-bold">Успеваемость в школе:</span> {{ object.get_school_progress_display }}
            </p>

            {% comment %} <div class="card-header card-header-primary mt-4">
              <h4 class="card-title">Иванов Иван Иванович</h4>
              <p class="card-category"><a href="/registry/sportsman/2/update/">Редактировать</a></p>
            </div>
            {% if parents %}
              <h3>Представители:</h3>
              {% for parent in parents %}
                <p class="mb-3">
                  {{ parent }}
                  <br>
                  <span class="font-weight-bold">Контактный номер:</span>
                  {{ parent.telephone }}
                  <br>
                  <span class="font-weight-bold">Электронная почта:</span>
                  {{ parent.email }}
                </p>
              {% endfor %}
            {% else %}
              <h3>Нет прдставителей</h3>
            {% endif %} {% endcomment %}

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title">Информация о спортсмене</h4>
            <p class="card-category">Представители</p>
          </div>
          <div class="card-body">
            {% if parents %}
              {% for parent in parents %}
                <div class="my-4">
                  <h5>{{ parent }}</h5>
                  <span class="font-weight-bold">Контактный номер:</span>
                  {{ parent.telephone }}
                  <br/>
                  <span class="font-weight-bold">Электронная почта:</span>
                  {{ parent.email }}
                </div>
              {% endfor %}
            {% else %}
              <h3>Нет прдставителей</h3>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block footer %}
<div class="container-fluid">
</div>
{% endblock footer %}

{% block scripts %}
  <script>
    $('tr[data-href]').on("click", function() {
      document.location = $(this).data('href');
    });
  </script>
{% endblock scripts %}
