{% extends settings.TEMPLATE_LAYOUT %}
{% load i18n static utils %}

{% block content %}
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-9">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">{{ object }}</h4>
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="nav-item">
                  <a class="nav-link active" href="#info" data-toggle="tab">
                    <i class="material-icons">description</i>
                  Информация
                  </a>
                </li>
                {% comment %} <li class="nav-item">
                  <a class="nav-link" href="#prize" data-toggle="tab">
                    <i class="material-icons">emoji_events</i>
                  Соревнования
                  </a>
                </li> {% endcomment %}
                <li class="nav-item">
                  <a class="nav-link" href="#parent" data-toggle="tab">
                    <i class="material-icons">supervisor_account</i>
                    Представители
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#questinary" data-toggle="tab">
                    <i class="material-icons">local_hospital</i>
                  Обследования
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="card-plain">
            <div class="tab-content">
              <div class="tab-pane active" id="info">
                <h3>Информация</h3>
                {% comment %} <p class="mb-3">
                {% if object.date_of_birth == None %}
                  <p>Отсутствует</p>
                  {% else %}
                  <p>
                    </p>
                {% endif %} {% endcomment %}
                <table class="table table-hover">
                  <tbody>
                    <tr>
                        <td><span class="font-weight-bold">Дата рождения:</span></td>
                        <td>{{ object.date_of_birth }}</td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-bold">Пол:</span></td>
                      <td>{{ object.get_gender_display }}</td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-bold">Контактный номер:</span></td>
                      <td>{{ object.phone_number }}</td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-bold">Место жительства:</span></td>
                      <td>{{ object.location }}</td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-bold">Умение плавать:</span></td>
                      <td>{{ object.get_is_swimming_display }}</td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-bold">Вид спорта:</span></td>
                      <td>{{ object.sport_type }}</td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-bold">Спортивное учреждение:</span></td>
                      <td>{{ object.sports_facility }}</td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-bold">Успеваемость в школе:</span></td>
                      <td>{{ object.get_school_progress_display }}</td>
                    </tr>
                    <tr>
                      <td><span class="font-weight-bold">Разряд:</span></td>
                      <td>{{ object.rank }}</td>
                    </tr>
                  </tbody>
                </table>
                {% if user.role == 0 or user.role == 1 %}
                  <a href="{% url 'registry:sportsman-update' object.pk %}" class="btn
                btn-primary">Редактировать</a>
                {% endif %}
              </div>
              <div class="tab-pane" id="prize">
                {% if sport_results %}
                <h4 class="card-title">Соревнования</h4>
                  {% for sport_result in sport_results %}
                    <div class="card card-nav-tabs">
                        <div class="card-body">
                          <h5>Место: {{ sport_result.get_prize_display }}</h5>
                          <p>Дата: {{ sport_result.date }}</p>
                          <p>Уровень: {{ sport_result.get_level_display }}</p>
                          <p>Результат: {{ sport_result.result }}</p>
                          <p>Дистанция: {{ sport_result.distance }}</p>
                          <a href="{% url 'registry:primary-update' object.pk %}" class="btn btn-primary">Редактировать</a>
                        </div>
                      </div>
                  {% endfor %}
                {% else %}
                <h3>Нет соревнований</h3>
                {% endif %}
                <a href="{% url 'registry:primary-update' object.pk %}" class="btn btn-primary">Добавить</a>
              </div>
              <div class="tab-pane" id="parent">
                {% if parents %}
                  <h3>Представители</h3>
                  {% for parent in parents %}
                    <div class="my-4">
                      <h5>{{ parent }}</h5>
                      <span class="font-weight-bold">Контактный номер:</span>
                      {{ parent.telephone }}
                      <br/>
                      <span class="font-weight-bold">Электронная почта:</span>
                      {{ parent.email }}
                    </div>
                  {% endfor %}
                {% else %}
                <h3>Нет представителей</h3>
                {% endif %}
              </div>
              <div class="tab-pane" id="questinary">
                <h3>Обследования</h3>
                {% if primarys %}
                  <div class="card card-nav-tabs">
                    <div class="card-body">
                      <h4 class="card-title">Первичное обследование</h4>
                      <p class="text-success">Первичное обследование успешно пройдено</p>
                      {% if user.role == 0 or user.role == 2 %}
                        <a href="{% url 'registry:primary-detail' object.pk %}" class="btn btn-primary">Просмотреть</a>
                        <a href="{% url 'registry:primary-update' object.pk %}" class="btn btn-primary">Редактировать</a>
                      {% endif %}
                    </div>
                  </div>
                {% else %}
                <div class="card card-nav-tabs">
                  <div class="card-body">
                    <h4 class="card-title">Первичное обследование</h4>
                    <p class="text-danger">Первичное обследование не пройдено</p>
                    {% if user.role == 0 or user.role == 2 %}
                      <a href="{% url 'registry:primary-create' object.pk %}" class="btn btn-primary">Пройти обследование</a>
                    {% endif %}
                  </div>
                </div>
                {% endif %}
                {% if Medical %}
                  <div class="card card-nav-tabs">
                    <div class="card-body">
                      <h4 class="card-title">Углубленное обследование</h4>
                      <p class="text-success">Имеется углубленное обследование</p>
                      {% if user.role == 0 or user.role == 2 %}
                        <a href="{% url 'registry:medical-create' object.pk %}" class="btn btn-primary">Добавить обследование</a>
                      {% endif %}
                    </div>
                  </div>
                {% else %}
                <div class="card card-nav-tabs">
                  <div class="card-body">
                    <h4 class="card-title">Углубленное обследование</h4>
                    <p class="text-danger">Углубленное обследование не пройдено</p>
                    {% if user.role == 0 or user.role == 2 %}
                      <a href="{% url 'registry:medical-create' object.pk %}" class="btn btn-primary">Пройти обследование</a>
                    {% endif %}
                  </div>
                </div>
                {% endif %}
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block footer %}

{% endblock footer %}

{% block scripts %}
  <script>
    $('tr[data-href]').on("click", function() {
      document.location = $(this).data('href');
    });
  </script>
{% endblock scripts %}
