{% extends settings.TEMPLATE_LAYOUT %}
{% load i18n static utils %}


{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title ">{{object_list|first|verbose_name_plural}}</h4>
          {% comment %} <p class="card-category"> Here is a subtitle for this table</p> {% endcomment %}
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <tr>
                  <th>
                  {% verbose_name_field object_list|first "name" %}
                  </th>
                  <th>
                    {% verbose_name_field object_list|first "surname" %}
                  </th>
                  <th>
                    {% verbose_name_field object_list|first "patronymic" %}
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for item in object_list %}
                <a href="#">
                  <tr data-href="{% url 'registry:sportsman-detail' item.pk %}">
                    <td>
                      {{item.name}}
                    </td>
                    <td>
                      {{item.surname}}
                    </td>
                    <td>
                      {{item.patronymic}}
                    </td>
                  </tr>
                  </a>
                {% empty %}
                  <h1>Пусто</h1>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block scripts %}
  <script>
    $('tr[data-href]').on("click", function() {
      document.location = $(this).data('href');
    });
  </script>
{% endblock scripts %}
