<li class="nav-item">
  <a class="nav-link" href="{% url 'registry:sportsman-list' %}">
    <p>
      <span class="material-icons">
      sports_kabaddi
      </span>
      Спортсмены
    </p>
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'registry:sporttype-list' %}">
    <p>
      <span class="material-icons">
      sports_soccer
      </span>
      Виды спорта
    </p>
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'registry:sportsman-list' %}">
    <p>
      <span class="material-icons">
      emoji_events
      </span>
      Рейтинг
    </p>
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'registry:sportsman-list' %}">
    <p>
      <span class="material-icons">
      supervisor_account
      </span>
      Пользователи
    </p>
  </a>
</li>
