{% load i18n static hijack_tags %}
{% load render_bundle from utils %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:'ru' }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}" />
  {% if request|is_hijacked %}
    <link rel="stylesheet" type="text/css" href="{% static 'hijack/hijack-styles.css' %}" />
  {% endif %}

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/material-dashboard.min.css' %}" />
  {% comment %} <link href="assets/css/fresh-bootstrap-table.css" rel="stylesheet" /> {% endcomment %}
  {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'dashboard/demo.css' %}" /> {% endcomment %}
  {% render_bundle 'chunk-vendors' 'css' %}
  {% render_bundle 'app' 'css' %}
  {% block head %}{% endblock head %}
</head>
<body>
  {% hijack_notification %}
  <div class="wrapper">
    {% block body %}{% endblock body %}
  </div>

  {% render_bundle 'chunk-vendors' 'js' %}
  {% render_bundle 'app' 'js' %}

  <!--   Core JS Files   -->
  {% comment %} <script src="{% static 'dashboard/assets/js/core/popper.min.js' %}"></script> {% endcomment %}
  {% comment %} <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script> {% endcomment %}
  <script src="{% static 'dashboard/assets/js/core/bootstrap-material-design.min.js' %}"></script>


  {% comment %} <script src="{% static 'dashboard/assets/js/core/jquery.min.js' %}"></script> {% endcomment %}

  <script src="{% static 'dashboard/assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <script src="{% static 'dashboard/assets/js/material-dashboard.js' %}" type="text/javascript"></script>

  <!-- Plugin for the momentJs  -->
  {% comment %} <script src="{% static 'dashboard/assets/js/plugins/moment.min.js' %}"></script> {% endcomment %}
  <!--  Plugin for Sweet Alert -->
  {% comment %} <script src="{% static 'dashboard/assets/js/plugins/sweetalert2.js' %}"></script> {% endcomment %}
  <!-- Forms Validations Plugin -->
  {% comment %} <script src="{% static 'dashboard/assets/js/plugins/jquery.validate.min.js' %}"></script> {% endcomment %}
  <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
  {% comment %} <script src="{% static 'dashboard/assets/js/plugins/jquery.bootstrap-wizard.js' %}"></script> {% endcomment %}
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  {% comment %} <script src="{% static 'dashboard/assets/js/plugins/bootstrap-selectpicker.js' %}"></script> {% endcomment %}
  <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  {% comment %} <script src="{% static 'dashboard/assets/js/plugins/bootstrap-datetimepicker.min.js' %}"></script> {% endcomment %}
  <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
  {% comment %} <script src="{% static 'dashboard/assets/js/plugins/jquery.dataTables.min.js' %}"></script> {% endcomment %}
  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  {% comment %} <script src="{% static 'dashboard/assets/js/plugins/bootstrap-tagsinput.js' %}"></script> {% endcomment %}
  <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  {% comment %} <script src="{% static 'dashboard/assets/js/plugins/jasny-bootstrap.min.js' %}"></script> {% endcomment %}
  <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
  {% comment %} <script src="{% static 'dashboard/assets/js/plugins/fullcalendar.min.js' %}"></script> {% endcomment %}
  <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
  {% comment %} <script src="{% static 'dashboard/assets/js/plugins/jquery-jvectormap.js' %}"></script> {% endcomment %}
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  {% comment %} <script src="{% static 'dashboard/assets/js/plugins/nouislider.min.js' %}"></script> {% endcomment %}
  <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
  {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script> {% endcomment %}
  <!-- Library for adding dinamically elements -->
  {% comment %} <script src="{% static 'dashboard/assets/js/plugins/arrive.min.js' %}"></script> {% endcomment %}
  <!-- Chartist JS -->
  {% comment %} <script src="{% static 'dashboard/assets/js/plugins/chartist.min.js' %}"></script> {% endcomment %}
  <!--  Notifications Plugin    -->
  {% comment %} <script src="{% static 'dashboard/assets/js/plugins/bootstrap-notify.js' %}"></script> {% endcomment %}
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->

  {% comment %} <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

        if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
          if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
            $('.fixed-plugin .dropdown').addClass('open');
          }

        }

        $('.fixed-plugin a').click(function(event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function() {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function() {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
    });
  </script> {% endcomment %}


  {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script> {% endcomment %}
  {% comment %} <script src="https://unpkg.com/bootstrap-table/dist/bootstrap-table.min.js"></script> {% endcomment %}

  {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'dashboard/fresh-bootstrap-table.css' %}" /> {% endcomment %}
  {% comment %} <script src="{% static 'bootstrap-table/assets/js/bootstrap-table.min.js' %}"></script> {% endcomment %}
  <script src="{% static 'dashboard/tableManager.js' %}"></script>

  {% comment %} <script type="text/javascript">
    var $table = $('#fresh-table')

    $(function () {
      $table.bootstrapTable({
        classes: 'table table-hover',
        toolbar: '.toolbar',

        search: true,
        showRefresh: false,
        showToggle: false,
        showColumns: true,
        pagination: true,
        striped: false,
        sortable: true,
        pageSize: 5,
        pageList: [5, 10, 25, 50, 100],

        formatShowingRows: function (pageFrom, pageTo, totalRows) {
          return ''
        },
        formatRecordsPerPage: function (pageNumber) {
          return pageNumber
        }
      })
    })
  </script> {% endcomment %}

  {% block bottom %}{% endblock bottom %}
</body>
</html>
