{% extends "layouts/base.html" %}
{% load i18n static %}

{% block head %}
  {% block links %}
  {% endblock links %}
{% endblock head %}

{% block body %}
  <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
    <div class="logo">
      <a href="http://www.creative-tim.com" class="simple-text logo-normal">
        ИНЭКС СОО
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        {% include "components/sidebar.html" %}
      </ul>
    </div>
  </div>
  <div class="main-panel">
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    {% include "components/navbar.html" %}
    </nav>
    <div class="content">
      {% block content %}
      {% endblock content %}
    </div>
    <footer class="footer">
      {% block footer %}
      {% endblock footer %}
    </footer>
  </div>
{% endblock body %}

{% block bottom %}
  {% block scripts %}
  {% endblock scripts %}
{% endblock bottom %}
