{% extends settings.TEMPLATE_LAYOUT %}
{% load i18n static utils %}


{% block content %}
<div class="container-fluid center">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title ">
            {% if user.role == 0 or user.role == 1 %}
              <a href="{% url 'registry:sporttype-create' %}" title="Добавить вид спорта" class="btn btn-primary btn-fab btn-fab-mini" role="button" aria-disabled="true">
                <i class="material-icons">add</i>
              </a>
            {% endif %}
          {{object_list|first|verbose_name_plural}}
          <span class="badge badge-light">{{ object_list.count }}</span>
          </h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <tr>
                  <th>
                  {% verbose_name_field object_list|first "name" %}
                  </th>
                  {% if user.role == 0 or user.role == 1 %}
                    <th class="text-right">Действия</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
                {% for item in object_list %}
                  <tr>
                    <td>
                      {{item.name}}
                    </td>
                    <td  class="td-actions text-right">
                      {% if user.role == 0 or user.role == 1 %}
                        <a href="{% url 'registry:sporttype-update' item.pk %}" title="Редактировать вид спорта" class="btn btn-success btn-fab btn-fab-mini" role="button" aria-disabled="true">
                        <i class="material-icons">edit</i>
                        </a>

                        <a href="" class="btn btn-danger btn-fab btn-fab-mini" title="Удалить вид спорта" role="button" aria-disabled="true">
                        <i class="material-icons">close</i>
                        </a>
                      {% endif %}
                    </td>
                  </tr>
                {% empty %}
                  <h1>Пусто</h1>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block footer %}

{% endblock footer %}

{% block scripts %}
  <script>
    $('tr[data-href]').on("click", function() {
      document.location = $(this).data('href');
    });
  </script>
{% endblock scripts %}
