{% extends settings.TEMPLATE_LAYOUT %}
{% load i18n static utils %}


{% block content %}
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-11">
      {% if params_list %}
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Выбор параметров</h4>
            <p class="card-category">Выбор параметров учавствующих в расчете рейтинга</p>
          </div>
          <div class="card-body">
            <form method="GET">
              <fieldset>
                <table class="table">
                  <tbody>
                    {% for param in params_list %}
                      <tr>
                        <td>
                          <div class="form-check">
                            <label class="form-check-label">
                              <input class="form-check-input" type="checkbox" name="params[]" value="{{param}}" checked="">
                              <span class="form-check-sign">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                        </td>
                        <td>{{param}}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              <button type="submit" class="btn btn-primary pull-right">Расчитать рейтинг</button>
            </form>
          </div>
        </div>
      {% endif %}

      <div class="card">
        {% if object_list %}
          <div class="card-header card-header-primary">
            <h4 class="card-title">Первичные</h4>
            <p class="card-category">Вывод рейтинга по первичным медицинским обследованиям обследованиям</p>
          </div>
          <div class="card-body">
            <div class="table-responsive fresh-table full-color-orange">
              <table class="tablemanager table table-hover">
                <thead>
                  <th class="">Рейтинг</th>
                  {% comment %} <th class="">Значение</th> {% endcomment %}
                  <th class="">Фамилия</th>
                  <th class="">Имя</th>
                  <th class="">Отчество</th>
                </thead>
                <tbody>
                  {% for item in object_list %}

                    {% comment %} <tr>
                      {{ item }}
                    </tr> {% endcomment %}
                    <tr>
                      <td class="">{{ forloop.counter }}</td>
                    {% comment %} <td>
                      {{ item.rating_value }}
                    </td> {% endcomment %}
                    <td>
                      {{ item.sportsman.surname }}
                    </td>
                    <td>
                      {{ item.sportsman.name }}
                    </td>
                    <td>
                      {{ item.sportsman.patronymic }}
                    </td>
                  {% endfor %}

                </tbody>
              </table>

            </div>
          </div>
        {% else %}
         <!-- TODO: сделать блок -->
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block footer %}

{% endblock footer %}

{% block scripts %}
<script type="text/javascript">
    $('.tablemanager').tablemanager({
      firstSort: [[3,0],[2,0],[1,'asc']],
      disable: ["last"],
      appendFilterby: true,
      dateFormat: [[4,"mm-dd-yyyy"]],
      debug: true,
      vocabulary: {
      voc_filter_by: 'Фильтровать по',
      voc_type_here_filter: 'Пусто',
      voc_show_rows: 'Строк на странице'
    },
      pagination: true,
      showrows: [5,10,20,50,100],
      disableFilterBy: [1]
    });
  </script>
{% endblock scripts %}
