{% extends settings.TEMPLATE_LAYOUT %}
{% load i18n static utils widget_tweaks  %}

{% block content %}
  {% comment %} <div class="card-body">
    <form method="POST">
      {% csrf_token %}
      {{ form }}
      <button type="submit" class="btn btn-success pull-right">Обновить профиль</button>
      <a class="btn btn-second" href="../">Назад</a>
    </form>
  </div> {% endcomment %}

  <div class="content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Редактирование спортивного результата первичного обследования</h4>
            <p class="card-category">{{ sportsman }}</p>
          </div>
          <div class="card-body">
            <form method="POST">
              {% csrf_token %}
                <div class="row">
                  <div class="col mt-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label">{{form.date.label}}</label>
                      {% render_field form.date class+="form-control" %}
                    </div>
                  </div>
                  <div class="col mt-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label">{{form.level.label}}</label>
                      {% render_field form.level class+="form-control" %}
                    </div>
                  </div>
                  <div class="col mt-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label">{{form.prize.label}}</label>
                      {% render_field form.prize class+="form-control" %}
                    </div>
                  </div>
                  <div class="col mt-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label">{{form.result.label}}</label>
                      {% render_field form.result class+="form-control" %}
                    </div>
                  </div>
                  <div class="col mt-4">
                    <div class="form-group bmd-form-group">
                      <label class="bmd-label">{{form.distance.label}}</label>
                      {% render_field form.distance class+="form-control" %}
                    </div>
                  </div>
                </div>
              <button type="submit" class="btn btn-primary pull-right">Сохранить</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block footer %}

{% endblock footer %}

{% block scripts %}
  <script>
    $('tr[data-href]').on("click", function() {
      document.location = $(this).data('href');
    });
  </script>
{% endblock scripts %}
